<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <link th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css}" rel="stylesheet">
</head>

<body>
<div class="container my-5">
    <h3> Update Person</h3>

    <form th:action="@{/person/getPersonDetails}" th:object="${person}" method="post" enctype="multipart/form-data">
        <div class="row">


            <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------- -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group col-md-12">

                                <input type="hidden" th:field="*{personId}" class="form-control">
                            </div>
                            <div class="form-group col-md-12">

                                <input type="hidden" th:field="*{family.familyId}" class="form-control">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="firstName1" class="col-form-label">First Name</label>
                                <input type="text" th:field="*{firstName}" class="form-control" id="firstName1"
                                       placeholder="First Name">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="middleName1" class="col-form-label">Middle Name</label>
                                <input type="text" th:field="*{middleName}" class="form-control" id="middleName1"
                                       placeholder="Middle Name">

                            </div>

                            <div class="form-group col-md-12">
                                <label for="lastName1" class="col-form-label">Last Name</label>
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastName1"
                                       placeholder="Last Name">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="status1" class="col-form-label">Status</label>
                                <input type="text" th:field="*{status}" class="form-control" id="status1"
                                       placeholder="Status">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="relationWithHead1" class="col-form-label">Relation With Head</label>
                                <input type="text" th:field="*{relationWithHead}" class="form-control"
                                       id="relationWithHead1" placeholder="Relation With Head">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="genderSelect1" class="col-form-label">Relation With Head</label>
                                <select class="form-select" aria-label="Gender select" id="genderSelect1"
                                        th:field="*{gender}">
                                    <option value="">Gender...</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="dob1" class="col-form-label">Date of Birth</label>
                                <input type="text" th:field="*{DOB}" class="form-control dobSelect" id="dob1"
                                       placeholder="Date of Birth">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="age1" class="col-form-label">Age</label>
                                <select class="form-select" aria-label="Age select" id="age1" th:field="*{age}">
                                    <option th:each="var : ${rd.get('ageMap').values()}"
                                            th:value="${var}"
                                            th:text="${var}">Age
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="familyGotra1" class="col-form-label">Family's Gotra</label>
                                <input type="text" th:field="*{familyGotra}" class="form-control" id="familyGotra1"
                                       placeholder="Family's Gotra">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="motherGotra1" class="col-form-label">Mother's Gotra</label>
                                <input type="text" th:field="*{motherGotra}" class="form-control" id="motherGotra1"
                                       placeholder="Family's Gotra">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="education1" class="col-form-label">Education</label>
                                <input type="text" class="form-control" id="education1" th:field="*{educationalStatus}"
                                       placeholder="Education"/>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="occupation1" class="col-form-label">Occupation</label>
                                <input type="text" th:field="*{occupation}" class="form-control" id="occupation1"
                                       placeholder="Occupation">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="maritalStatusSelect1" class="col-form-label">Marital Status</label>
                                <select class="form-select" aria-label="marital status select" id="maritalStatusSelect1"
                                        th:field="*{maritalStatus}">
                                    <option value="">marital Status</option>
                                    <option value="Married">Married</option>
                                    <option value="Unmarried">Unmarried</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="specialAbilityselect1" class="col-form-label">Special Ability</label>
                                <select class="form-select" aria-label="special ability select"
                                        id="specialAbilitySelect1"
                                        th:field="*{specialAbility}">
                                    <option value="">Specially Abled</option>
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">

<!--                            <div class="row ms-3">-->
<!--                                <label for="currentImage" class="col-form-label">Current image</label>-->
<!--                                <div class="col-md-8 mt-1" id="currentImage">-->
<!--                                    <img th:src="@{${person.imgUrl}}" src="" alt="">-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <label for="inputImage" class="col-form-label justify-content-center">Update-->
<!--                                        Image</label>-->
<!--                                    <input th:field="*{imageFile}" class="form-control justify-content-center mt-2"-->
<!--                                           id="inputImage" type="file">-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="row mt-3 ml-5 justify-content-center">

                                <h3 class="text-center mt-3">Mobile Number</h3>

                                <div class="table-responsive">

                                    <table class="table align-middle mt-3" id="mobileNumberTable">
                                        <thead>
                                        <tr>

                                            <th scope="col">Type</th>
                                            <th scope="col">Mobile Number</th>
                                            <th scope="col">Primary</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tb">

                                        <tr th:each="mn,i : *{mobileNumbers}">
                                            <td class="align-top">
                                                <div>
                                                    <select class="form-select col-sm-6" th:field="*{mobileNumbers[__${i.index}__].type}">
                                                        <option th:each="var:${rd.get('typeMap').values()}"
                                                                th:value="${var}"
                                                                th:text="${var}">

                                                        </option>
                                                    </select>
                                                </div>
                                            </td>

                                            <td class="align-middle">

                                                <div>
                                                    <input type="text" class="form-control col-sm-6"
                                                           th:field="*{mobileNumbers[__${i.index}__].mobileNumber}"
                                                           placeholder="Number"/>
                                                </div>

                                            </td>

                                            <td class="align-bottom">

                                                <div>
                                                    <select class="form-select col-sm-6"
                                                            th:field="*{mobileNumbers[__${i.index}__].primary}">
                                                        <option th:each="var:${rd.get('primaryMap').values()}"
                                                                th:value="${var}"
                                                                th:text="${var}">

                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>
                                    <div class="d-grid gap-2 d-md-block">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="d-grid mt-3">
                    <button class="btn btn-outline-secondary" type="submit">Update</button>
                </div>

            </div>
        </div>
    </form>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<!--<script th:src="@{/resources/static/js/jquery-3.6.0.min.js}"></script>-->
<!--<script th:src="@{/resources/static/js/jquery-ui.min.js}"></script>-->

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<script th:src="@{/resources/static/js/dobSelect.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    let typeList = /*[[${rd.get('typeMap').values()}]]*/ "typeList";
    let primaryList = /*[[${rd.get('primaryMap').values()}]]*/ "primaryList";
    /*]]>*/

</script>

<script th:src="@{/resources/static/js/addRow.js}"></script>

</body>

</html>